// base color
$blue:#5B8FF9;
$light-blue:#5B8FF9;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#73777a;
$menuActiveText:#4D7CFE;
$subMenuActiveText:#4D7CFE; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#eaedf1;
$menuHover:rgba(91, 143, 249, 0.5);

$subMenuBg:#eaedf1;
$subMenuHover:rgba(91, 143, 249, 0.5);

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
